<div class="blog-post">
  <div class="mb-3">
    <ul class="d-flex list-unstyled">
      <li class="px-2">
        Compartilhe
      </li>
      <li class="px-2">
        <a target="_blank" href="https://wa.me/5516991314918?text=Blog%20Duas%20Xícaras%20-%20https://www.duasxicaras.com.br/blog">
          <i class="fab fa-whatsapp" style="color: rgb(37, 211, 102);"></i>
        </a>
      </li>
      <li class="px-2">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.duasxicaras.com.br%2Fblog&titleBlog%20Duas%20Xícaras&description=&quote=&hashtag=">
          <i class="fab fa-facebook" style="color: rgb(24, 119, 242);"></i>
        </a>
      </li>
      <li class="px-2">
        <a target="_blank" href="https://t.me/share/url?url=https%3A%2F%2Fwww.duasxicaras.com.br%2Fblog&text=Blog%20Duas%20Xícaras%20-%20https://www.duasxicaras.com.br/blog">
          <i class="fab fa-telegram" style="color: rgb(0, 136, 204);"></i>
        </a>
      </li>
      <li class="px-2">
        <a target="_blank" href="mailto:?subject=Veja nossos posts do blog em https://www.duasxicaras.com.br/blog">
          <i class="fas fa-envelope" style="color: rgb(51, 51, 51);"></i>
        </a>
      </li>
      <li class="px-2">
        <a target="_blank" href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.duasxicaras.com.br%2Fblog">
          <i class="fab fa-linkedin" style="color: rgb(0, 123, 181);"></i>
        </a>
      </li>

    </ul>
  </div>
  <%- await include('@/sections/inc/md-content')
  %>
</div>
