<%
const markdown = (typeof opt === 'object' && opt.markdown) || _.state.body
if (markdown) {
  console.log(_.state)
  %>
  <section class="md-content mb-5 pt-1 pt-sm-2 pt-lg-3">
    <div class="container">
      <%- _.md.render(markdown) %>
    </div>
  </section>
  <script type="application/ld+json"><%-
JSON.stringify({
"@context": "https://schema.org",
"@type": "BlogPosting",
"mainEntityOfPage": {
"@type": "WebPage",
"@id": _.store.homepage || `https://${(_.store.domain || _.settings.domain)}/`
},
"headline": _.state.title,
"description": _.state.description,
"image": `https://www.duasxicaras.com.br/${_.state.thumbnail}`,
"author": {
"@type": "Person",
"name": "duasxicaras",
"url": "www.duasxicaras.com.br"
}, 
"publisher": { "@type": "Organization",
"name": "Duas Xicaras",
"logo": {
"@type": "ImageObject",
"url": (_.store.logo && _.store.logo.url) || `https://${_.settings.domain}${_.settings.logo}`
}
},
"datePublished": _.state.date.substring(0, 10)
})
%></script>
<% } %>
